.home-view-page {
    .view-tab {
        padding-top: 32px;
        &-item {
            padding: 32px;
            opacity: 0.6;
            cursor: pointer;
            font-size: var(--text-lg);
            font-weight: 300;
            &.active {
                opacity: 1;
                cursor: default;
                font-family: "Campton-Bold", sans-serif;
                font-weight: 500;
            }
        }
    }
}
